.about{
   
    font-family: 'Playfair Display';
    padding-bottom: 100px;
    padding-top: 70px;
         
}



.aboutName{
    font-family: 'Playfair Display', Bold;
    padding-top: 5px;
    text-align: center;
}

.photo{

        width: 250px;
        height: 250px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
   
}



.summary {
    font-family: 'Playfair Display', serif;
    text-align: justify;
    font-size: 1rem;
    margin-right: 50px;
    font-weight: 200;
    
   
}

.sSkills{
    
   
    width: 250px;
    height: 250px
    
}

.tSkills{
    width: 250px;
    height: 250px;

}

.font{
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    text-align: center;
}
@media only screen and (max-width: 576px) {
  .aboutName{
   font-size: 2rem
}
.photo{
        width: 150px;
    height: 160px;
    border-radius: 50%;
    margin-left: 90px;
}
.font{
    padding-top: 20px;
    
}
.summary {
    
    margin-left: 10px;
    margin-right: 10px;
}

}
