.contact{
    background-color: rgb(251, 249, 237);
    padding-top: 80px;
    padding-bottom: 100px;
   
}

.getName{
    font-family: 'Playfair Display', Bold;
    padding-top: 10px;
    text-align: center;
}

.fab,.fas{
width: 50px;
font-size: 30px;
}

.networks{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
