.home{
    background-color: rgba(247, 202, 101,.7);
    padding-bottom: 230px;
    }
.text{
    padding-top: 230px;
}

.homeName{
    width: 60%;
   position: absolute;
   top: 35%;
   left:50%;
   transform: translate(-50%);
   animation: fill 0.5s ease forwards 4s;
}

.homeName path:nth-child(1){
stroke-dasharray:442px;
stroke-dashoffset: 442px;
animation: line-anim 2s ease forwards 0.3s;

}
.homeName path:nth-child(2){
    stroke-dasharray:223px;
    stroke-dashoffset: 223px;
    animation: line-anim 2s ease forwards 0.6s;
}
.homeName path:nth-child(3){
    stroke-dasharray:118px;
    stroke-dashoffset: 118px;
    animation: line-anim 2s ease forwards 0.9s;
}
.homeName path:nth-child(4){
    stroke-dasharray:203px;
    stroke-dashoffset: 203px;
    animation: line-anim 2s ease forwards 1.2s;
}
.homeName path:nth-child(5){
    stroke-dasharray:233px;
    stroke-dashoffset: 233px;
    animation: line-anim 2s ease forwards 1.5s;
}
.homeName path:nth-child(6){
    stroke-dasharray:178px;
    stroke-dashoffset: 178px;
    animation: line-anim 2s ease forwards 1.8s;
}
.homeName path:nth-child(7){
    stroke-dasharray:150px;
    stroke-dashoffset: 150px;
    animation: line-anim 2s ease forwards 2.1s;
}
.homeName path:nth-child(8){
    stroke-dasharray:118px;
    stroke-dashoffset: 118px;
    animation: line-anim 2s ease forwards 2.4s;
}
.homeName path:nth-child(9){
    stroke-dasharray:184px;
    stroke-dashoffset: 184px;
    animation: line-anim 2s ease forwards 2.7s;
}
.homeName path:nth-child(10){
    stroke-dasharray:139px;
    stroke-dashoffset: 139px;
    animation: line-anim 2s ease forwards 3.0s;
}
.homeName path:nth-child(11){
    stroke-dasharray:139px;
    stroke-dashoffset: 139px;
    animation: line-anim 2s ease forwards 3.3s;
}
.homeName path:nth-child(12){
    stroke-dasharray:203px;
    stroke-dashoffset: 203px;
    animation: line-anim 2s ease forwards 3.6s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill:black;
    }
}

.home p{
    font-weight:700;
    font-size: 1.2rem; 
    font-family: 'Playfair Display', serif;
    margin-left: 80px;

}

.btn{
    font-family: 'Playfair Display', serif;
    border-color: #fff; 
    color: #fff;
    margin-left: 100px;
}


@media only (min-width: 5px) and (max-width: 340px){
  .home p {
    font-size: 1.2rem;
    margin-left: 5px;
    color:  #22313f;
    
}
   .btn {
    
    border-color: #22313f;
    color: #22313f;
    margin-left: -60px;
    font-weight:700;

}
   
    .text{
        font-size: 1.2rem;
        padding-top: 230px;
        text-align: center;
    }
    .projectsBtn{

       padding-top: 50px; 

    }

}

@media (min-width: 341px) and (max-width: 600px) {
    .btn {
    margin-left: 110px;
    }
    .text{
        font-size: 1.2rem;
        padding-top: 290px;
        margin-left: 30px;
        
    }
}
@media (min-width: 601px) and (max-width: 992px) {
 .text{
        margin-left: -130px;
    }
}
    
@media (max-width: 1024px)  {
   .homeName{
    position: relative;
    padding-top: 120px;
    width: 50%;
   }
    .home p {
    font-size: 2rem;
    color:  #22313f;
}
.text {
padding-top: 80px; 
}
.projectsBtn{
    
padding-top: 20px;
}
.btn{
    color: #22313f;
    border-color: #22313f;
}
}

