.projects{
    background-color:  rgba(247, 202, 101,.7);
    padding-bottom: 100px;
    padding-top: 70px;
    
}

.card-deck{
    margin-left: 20px;
    margin-right: 20px;
}

.projectsName{
    font-family: 'Playfair Display', Bold;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 20px;
}



.card-body{
    background-color: rgb(251, 249, 237);
    font-family: 'Playfair Display', serif;
}

.btn-primary{
    background-color: #17a2b8;
}

@media only (min-width: 5px) and (max-width: 340px){
  .card{
    margin-left: 20px;
    
  }
}

@media only screen and (max-width: 576px) {
  .btnCheck{
  
    margin-left: 0px;
   
    }
}


